@import "tailwindcss";

/* Spotify guideline: default sans-serif; Helvetica Neue, Helvetica, Arial */
html {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html,
body,
main,
#root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
